URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.font:xft:dejavu sans mono:size=18
URxvt*scrollBar: false
URxvt*background: white
URxvt*foreground: black
